<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product 
    Id="*"
    Name="{{product_name}}"
    Language="1033"
    Version="{{version}}"
    Manufacturer="{{manufacturer}}"
    UpgradeCode="{{upgrade_code}}">
    
    <Package InstallerVersion="450" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" />

    <!-- Force installation to C:\dsb\ -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="INSTALLDIR" Name="dsb">
        <Directory Id="DSB" Name=".">
          {{#each dirs}}
          {{> dir}}
          {{/each}}
        </Directory>
      </Directory>
    </Directory>

    <!-- Override default installation folder -->
    <CustomAction Id="SetInstallDir" Property="INSTALLDIR" Value="C:\dsb\" />
    <InstallExecuteSequence>
      <Custom Action="SetInstallDir" Before="CostFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>

    <Feature
      Id="MainApplication"
      Title="DevStackBox"
      Description="DevStackBox - Complete PHP Development Environment"
      Level="1"
      ConfigurableDirectory="INSTALLDIR"
      AllowAdvertise="no"
      Display="expand"
      Absent="disallow">
      {{#each components}}
      <ComponentRef Id="{{this}}" />
      {{/each}}
    </Feature>
  </Product>
</Wix>
